*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainBox{
    background-color: #354545;
    border-radius: 15px;
    width:100vmin;
    gap: 30px;
    margin: 200px 0;
    padding-bottom: 20px;

}

.ustYazi{
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
}

.mainBox2{
    
    border-radius: 15px;
    gap: 5px;
    flex-flow: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo{ 
    border-radius: 15px;
}

.photo img{
    transition-duration: 0.3s;
    border-radius: 15px;

}

.photo img:hover{
    filter: brightness(120%);
}



